@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

body {
  font-family: Poppins;
  background: #383838;
  width: 100%;
}

/* code {
} */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
